In [3]:
import pandas as pd

In [4]:
# Exercise 1: pulling what you need out of a recipe \d refers to a number from 0,9
# The following code shows what the regular expression [\d+] does on the given string [\d+] regular expression refers to one digit (0-9) or + character.
import re
recipe = "I need 10 strawberries and 2 apples."
print(re.findall("\d+ [a-z]+",recipe))

['10 strawberries', '2 apples']

In [5]:
#step 1 is cet up parameters
#step 2 is that humans make decision based on human emotion
#step 3 is rationalize the decision with fact data
#step 4 you are delsuional if you make decisons that way

In [7]:
data = {"A":[12,63,1,24,12],"B":[32,0,23,41,31]}
df = pd.DataFrame(data)
df

    A   B
0  12  32
1  63   0
2   1  23
3  24  41
4  12  31

In [12]:
# Get the minimum of column B and maximum of column A in dataframe
lowest = df["B"].min()
highest = df["A"].max()
print(lowest)
print(highest)

0
63

In [15]:
# Exercise Merge
customers_data = {"customer_id":[32,34,13,12],
                "order_id":[21,22,23,24]}

employees_data = {"employee_id":[31,32,33,34],
                "name":["Nick","Lore","Martin","Jo"]}

customers_df = pd.DataFrame(customers_data)
employees_df = pd.DataFrame(employees_data)

In [19]:
new_df = pd.merge(left=customers_df, right=employees_df,
                    left_on="customer_id", right_on="employee_id")
new_df

   customer_id  order_id  employee_id  name
0           32        21           32  Lore
1           34        22           34    Jo