In [1]:
import pandas as pd

In [4]:
data = ["time.1.15", "time.1.16", "time.2.15", "time.2.14"]

df = pd.DataFrame(data, columns=["A"])

df

           A
0  time.1.15
1  time.1.16
2  time.2.15
3  time.2.14

In [5]:
# Exercise 1: String split

df["New Column"] = df["A"].str.split(".").str.get(1)
print(df)

           A New Column
0  time.1.15          1
1  time.1.16          1
2  time.2.15          2
3  time.2.14          2

In [6]:
# Exercise 2: time column creation

df["time_column"] = df["A"].str[:4]
print(df)

           A New Column time_column
0  time.1.15          1        time
1  time.1.16          1        time
2  time.2.15          2        time
3  time.2.14          2        time

In [19]:
# Exercise 3: create new data frame 

new_data = {"A":[11,1,21,13,21,45,45], "B":["treatment", "control", "control","" , "control", "treatment", "treatment"]}

df_1 = pd.DataFrame(new_data)
df_1

    A          B
0  11  treatment
1   1    control
2  21    control
3  13
4  21    control
5  45  treatment
6  45  treatment

In [20]:
# Count the values located in column A. For this use .value_counts()
print(df_1["A"].value_counts())

21    2
45    2
13    1
11    1
1     1
Name: A, dtype: int64

In [24]:
# Create New Df and remove duplicates using drop_duplicates()

data_1 = {"A":[12,25,87,19,12],"B":[7,80,64,3,7]}
df_2 = pd.DataFrame(data_1)
df_2

print(df_2.drop_duplicates())

    A   B
0  12   7
1  25  80
2  87  64
3  19   3