In [1]:
import pandas as pd

In [4]:
data = ["time.1.15", "time.1.16", "time.2.15", "time.2.14"]

df = pd.DataFrame(data, columns=["A"])

df

           A
0  time.1.15
1  time.1.16
2  time.2.15
3  time.2.14

In [5]:
df["New Column"] = df["A"].str.split(".").str.get(1)
print(df)

           A New Column
0  time.1.15          1
1  time.1.16          1
2  time.2.15          2
3  time.2.14          2